.project-title{
   font-size: 6.5vw;
}

.project-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.data1-pic {
  width: 215px;
  box-shadow: 5px 5px 10px rgb(37, 37, 37);
}

.project-description {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 2.5vw 0 0 0;
  padding: 0 1vw 0 1vw;
  font-size: 3vw;
}
  
// .email {
//   font-family: digital-7;
//   margin-top: 20px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   justify-items: center;
//   text-align: center;
//   font-size: 45px;
// }


@media screen and (max-width: 856px) {
  /* about pg */
  .about-text {
    font-size: 6.5vw;
    padding: 0 2vw 0 2vw;
  }

}