.header-title{
   font-family: digital-7;
   text-align: center;
   font-size: 4.2vw;
   margin: 2.5vw 0 2.5vw 0;
}

.header-text {
    font-family: digital-7;
    text-align: center;
    font-size: 4.2vw;
    margin: 2.5vw 0 2.5vw 0;
} 

@media screen and (max-width: 900px) {

  .yeatman-logo {
    padding: 11vw;
  }

  .header-text {
    font-size: 8vw;
  }
}